/*
* {
    margin: 0;
    padding: 0;
}
*/
header {
   width: 100%;
   border-bottom: 1px solid #f7f7f7;
   background-color: #ffffff;
   text-align: center;
}

header h1 {
   padding: 20px 0;
}
/*
h1 a {
   color: #c9c9c9;
}

body {
   color: #515151;
   font-size: 0.8em;
   line-height: 2em;
   font-family: Verdana, Geneva, sans-serif;
   letter-spacing: 0.2em;
}
img {
   max-width: 100%;
}

a {
   color: #666;
   text-decoration: none;
}

li {
   list-style-type: none;
}
h1,h2,h3 {
   font-weight: normal;
}
*/
.cont {
   background-image: none;
}
/*
.inner {
   width: 90%;
   max-width: 850px;
   margin: 0 auto;
}
.profile {
   text-align: center;
   margin-bottom: 50px;
}

.clearfix {
   display: table;
   clear: both;
   content: "";
}
*/
 
nav {
   float: right;
}
 
nav li {
   display: inline;
   margin-left: 15px;
}
 
nav a:hover, .about-cont a:hover {
   color: #adadad;
   transition: 0.2s;
}

.pagetop {
   position: fixed;
   right: 20px;
   bottom: 20px;
   padding: 10px 20px;
   border-radius: 3px;
   color: #fff;
}

/*
footer {
   width: 100%;
   padding: 20px 0;
   border-top: 1px solid #f7f7f7;
   background-color: #fff;
   font-size: 0.8em;
}
*/
 

 /*
footer .inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
 

 
footer small {
   color: #D3D3D3;
   letter-spacing: 0.1em;
}
/*
.desc {
   margin-top: 200px;
   margin-bottom: 200px;
}

.cont h2 {
   margin-bottom: 60px;
   font-size: 2em;
   text-align: center;
}
 
.cont h2 span {
   color: #b1b1b1;
   font-size: 0.4em;
   line-height: 0.8em;
}

.prof h2 {
   margin-bottom: 60px;
   font-size: 2em;
   text-align: center;
}
.prof h2 span {
   color: #b1b1b1;
   font-size: 0.4em;
   line-height: 0.8em;
}

.works li {
   width: 250px;
   margin: 0 50px 25px 0;
   float: left;
}
*/
 /*
.works li:nth-child(3n) {
   margin-right: 0px;
}
/*
.works li p {
   padding-left: 10px;
   padding-top: 23px;
}
 
.works li a .tool p {
   font-size: 10px;
   padding-top: 0;
   color: #b1b1b1;
}
*/
.works .more {
   width: 40%;
   padding: 15px 0;
}
 
/*
.works-img {
   position: relative;
   width: 100%;
   padding-top: 50%;
   background-size: contain;
}

.works-img img {
   position: absolute;
   top: -3px;
   left: -3px;
}

.works-img:hover img {
   opacity: 70%;
}
*/